<ng-template #editConfigTemplate>

    <div fxFlex>

        <app-config>

        </app-config>
    </div>
</ng-template>

<div fxFill 
style="padding: 2rem;"

>


    <nb-card fxFlex="1 1">


        <nb-card-header fxLayoutAlign="center start">
            <div fxFlex class="h5" fxLayoutAlign="start center">
                Integration Guides
            </div>

            <div>
                <button disabled outline (click)="editConfig(  editConfigTemplate )" size="medium" status="success" nbButton>
                    <nb-icon icon="sun-outline"></nb-icon>
                    Setup
                </button>
            </div>
        </nb-card-header>

        <nb-card-body 
        fxLayoutAlign="center center"
        >



            <div *ngIf="selectedApp | async as selectedApp">


                <ul class="live">
                    <li>
                        Add a new build step for shell script execution in the Jenkins build job / pipeline.
                    </li>

                    <li>
                        Copy & paste the below code-snippet in the newly created build step.
                    </li>


                    <div
                    (click)="copyToCB( ( selectedApp  )?.code_snippet )"
                    class="_item">

                        <div class="mb-n7 text-left rules col col-12">
                            <div class="ml-5">

                                <div fxLayout="column" class="main">


                                    <div class="btn" fxLayoutAlign="start center">

                                        <span style="font-size: 1.2rem; ;" class="codetitle " fxFlex>

                                            Shell Script
                                        </span>

                                        <button (click)="copyToCB( ( selectedApp  )?.code_snippet )" size="tiny"
                                            status="warning" nbButton outline>
                                            <nb-icon icon="copy-outline"></nb-icon>
                                            Copy
                                        </button>
                                    </div>
                                    <div fxFill class="rows">


                                        <code>

                                        {{ selectedApp?.code_snippet}}

                                </code>
                                        <!-- <span> -->
                                        <!-- </span> -->

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>



                    <li>
                        Make sure the newly added build step executes at the last.

                    </li>



                </ul>








                <!--  -->









            </div>

        </nb-card-body>

    </nb-card>

</div>