<nb-card  fxFill nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="Refreshing data">

    <nb-card-header fxLayout="row">

        <div fxFlex fxLayoutAlign="space-between center">
            <div fxLayout="row">

                <button [routerLink]="[ '../settings' ]" size="small" class="left" status="basic" nbButton ghost>
                    <nb-icon icon="plus-outline"></nb-icon>&nbsp;
                </button>

                <button fullWidth size="small" class="left" status="basic" nbButton ghost>
                    Manage Team
                </button>

            </div>

            <div>
                <button (click)="toggleManagement()" size="small" class="left"
                    [status]=" isReadOnly ? 'info' :  'basic'" nbButton ghost>
                    <nb-icon icon="settings-2-outline"></nb-icon>&nbsp;
                </button>
            </div>


        </div>



    </nb-card-header>

    <nb-card-body class="outer">

        <!-- grid.component.html -->
        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayout.lt-sm="column">
            <div   class="_card" fxFlex.gt-md="33%" fxFlex.gt-sm="50%" fxFlex="100%"
                *ngFor="let member of teamMembers | async">

                <div [style.border-left-color]="member?.primary_color" class="grid-item">
                    <div fxLayoutAlign="space-between" fxLayout="row" class="grid-item-content">

                        <div fxLayoutAlign="center center" fxLayout="column" >

                            <div fxLayoutAlign="start start"  class="text-interactive">
                                {{member?.email}}

                            </div>
                        </div>



                        <div fxLayout="column">

                            <button shape="round" size="small" class="left" status="basic" nbButton ghost>

                            <nb-icon status="basic" filled icon="trash-outline"></nb-icon>

                            </button>


                        </div>


                    </div>
                </div>



            </div>
        </div>
    </nb-card-body>

 

</nb-card>