@import './../../../themes.scss';

nb-layout{
  height: 100vh;
  max-height: 100vh;
}

.container {
  display    : flex;
  align-items: center;
}

.test {
  flex: 1;
}

td {

  text-transform: capitalize;
}

.caption {
  font-size: 0.9rem !important;
  margin: 0.1rem;

}

.caption-2 {
  font-size: 0.9rem !important;
  margin: 0.1rem;
}

tr {
  margin-bottom: 1rem;
}

th {
  font-style  : bold;
  color       : #000;
  background  : var(--select-filled-basic-background-color);
  border-color: var(--select-filled-basic-border-color);
}

.hoverOn {
  // background  : rgb(233, 232, 232);
  background     : var(--select-outline-basic-hover-background-color);
  // border-color: #000;
  // border-width: 1px;;
  color          : #000;

}


th {
  padding   : 0px;
  text-align: center;
}


._heading {
  font-size  : 1rem;
  margin     : 0.2rem;
  font-weight: 400;
}


._subheading {
  font-size  : 1.2rem;
  font-weight: 500;
}

.opt {
  margin-left   : 1rem;
  font-size     : 0.8rem;
  // font-weight: 500;
  font-weight   : 500;


}

.optH {
  margin-left   : 0rem;
  font-weight   : 600;
  font-size     : 0.8rem;
  // font-weight: 400;
}

h5 {
  font-size : 1.2rem;
  margin-top: 0.3rem;
  padding   : 0px;
  ;
  margin-bottom: 0.3rem;
  font-weight  : 400;

}

.loader {
  padding-top   : 5rem;
  padding-bottom: 5rem;

}

.content {
  display: flex;
}

.flex {
  flex: 1;
}

.picture {
  background-position    : center;
  background-size        : cover;
  position               : relative;
  border-top-left-radius : .25rem;
  border-top-right-radius: .25rem;
  flex                   : 1;
  background-image       : url(/assets/rocket.png);
}

.card {
  padding: 0px;
}

.icons-block {
  // display         : flex;
  // justify-content : center;
  // align-items     : center;
  width           : 1.4rem;
  height          : 1.4rem;
  border-radius   : 50%;
  background-color: #fff;
  box-shadow      : 0 0.5rem 1.25rem 0 rgba(218, 224, 235, .6);
  margin-left     : 1rem;
  margin-right    : 1rem;
}

.stateicon {
  width : 1.8rem;
  height: 1.8rem;
}

.icons-block:hover {

  box-shadow: 0 1rem 1.95rem 0 rgba(218, 224, 235, .6);
}

.status-icon {
  font-size: 1.2rem;
  color    : #484747;
}

.stateicon {
  margin-left: auto;
}

.heading {
  font-weight: 600;
}

.low {
  background-color: var(--button-filled-primary-background-color);
}

.medium {
  background-color: var(--button-filled-warning-background-color);
}


.high {
  background-color: var(--button-filled-danger-background-color);
}

.critical {
  background-color: var(--button-filled-danger-background-color);

}



nb-select {
  align-self: center;
}

.accordianitem {
  width: 100%;
}

.subName {
  font-weight: 600;
  // height:  1.4rem;
  height     : inherit;
}

.headName {
  font-weight: 600;
  height     : inherit;
}

.name {
  font-weight: 400;
  // height:  1.4rem;
  height     : inherit;

}

.nooverflow {
  overflow: hidden;

}

.textSpace {
  padding-left  : 1rem;
  text-overflow : ellipsis;
  // white-space: nowrap;
  // overflow: auto;
  overflow      : hidden;
  flex          : 1;

}

.textSpace1 {
  padding-left  : 1rem;
  text-overflow : ellipsis;
  // white-space: nowrap;
  overflow      : auto;
  flex          : 1;
  font-size     : medium;
  // height: 3rem;

}

.textSpaceLower {
  padding-left : 3.4rem;
  text-overflow: ellipsis;
  white-space  : nowrap;

}


.controlpanelbg {
  background: var(--color-primary-default);
  // margin: 0px;
}

.controlpanelbg2 {
  background: var(--color-secondary-default);

  // margin: 0px;

}


h3 {
  color      : #fff;
  font-size  : 1.2rem;
  line-height: 2rem;

}



.buttonspace {
  margin-right: 10px;
}

.nomar {
  margin : 0px;
  padding: 0px;
}

.usericon {
  color: var(--color-primary-default);
}



nb-list {
  // height: 30rem;
  overflow: visible;
}

.bold {
  font-weight: 650;
}

.nomar {
  margin: 0px;
}

nb-card {
  // max-height: calc(100vh - 7rem);
  max-height: calc(100vh );
  margin    : 0;
}


nb-card-body {
  padding: 0;
}

.left {
  // padding-right: 0 !important;

}

.right {
  // padding-left: 0 !important;

}


.ipaddress {
  // color: rgb(19, 17, 17);
  font-size: 0.9rem;
}

button {
  text-transform: capitalize !important;
}

nb-card-header {
  // padding-left: 0.6rem;
  // padding-right: 0.6rem;
}


input {
  max-width: 150px !important;
}

nb-select {
  width   : 100px !important;
  overflow: hidden;

}

nb-list-item {
  &:hover {
    background: nb-theme(color-basic-400);

  }



  &.selected {

    background: nb-theme(color-primary-400);

    .text {

      // color: nb-theme(text-color-basic);
      color: #fff !important;

    }


    color: #fff;


    &.primary {
      background-color: nb-theme(color-primary-500);


    }


    &.success {
      background-color: nb-theme(color-success-500);


    }


    &.danger {
      background-color: nb-theme(color-danger-500);


    }


    &.warning {
      background-color: nb-theme(color-warning-500);


    }

    &.basic {
      background-color: nb-theme(color-basic-500);

    }

  }

}


.dot {
  font-size   : 60px;
  margin-right: 1rem;
  margin-left : 0.3rem;




  &.primary {
    color: nb-theme(color-primary-500);


  }


  &.success {
    color: nb-theme(color-success-500);


  }


  &.danger {
    color: nb-theme(color-danger-500);


  }


  &.warning {
    color: nb-theme(color-warning-500);


  }

  &.basic {
    color: nb-theme(color-basic-500);

  }

  &.selected {
    color: #fff !important;

  }
}


.src {
  font-weight: 600;
  font-size  : 1rem;


}

.dst {
  font-weight: 500;
  font-size  : 1rem;
}

nb-layout-column {
  // padding: 1rem !important;
  max-height: calc(var(--layout-min-height) - var(--header-height)) ;//calc(100vh - 3.8rem );
  
  // max-height: calc(100vh - 4rem);
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;

  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;


  // overflow: hidden;
}


nb-layout-column{
  padding:  0 !important;
}