
<app-engagement-create-finding>

</app-engagement-create-finding>


<!-- *ngIf="finding$ | async as finding$" -->
<nb-card fxFill *ngIf="false">


    <nb-card-body>

        <nb-stepper selectedIndex="1" linear="true" orientation="vertical">

            <nb-step label="Basic Details">

                <nb-card fxFill>




                    <nb-card-body [nbSpinner]="searching">

                        <app-engagement-finding-basic-details [finding_id]="finding$?._id?.$oid">
                        </app-engagement-finding-basic-details>

                    </nb-card-body>

                    <nb-card-footer fxLayoutAlign="end" fxLayoutGap="1rem">



                        <button size="small" nbButton disabled nbStepperNext>prev</button>
                        <button size="small" nbButton nbStepperNext>next</button>
                    </nb-card-footer>

                </nb-card>







            </nb-step>

            <nb-step label="Select Weakness">

                <nb-card fxFill>

                    <nb-card-header>
                        <nb-form-field>
                            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                            <input [formControl]="searchInput" fullWidth placeholder="Search CWE" type="text" nbInput>
                        </nb-form-field>

                    </nb-card-header>

                    <nb-card-body [nbSpinner]="searching">

                        <div fxFlex fxLayout="column">



                            <div fxFlex fxLayout="row">

                                <nb-list>
                                    <nb-list-item (click)="selectCWE( finding$?._id?.$oid ,  finding )"
                                        [class.active]="finding$?.cwe == finding?.id"
                                        *ngFor="let finding of findings$ | async"
                                        [class.subitsemheader]="finding?.type == 'category' "
                                        [class.text-hint]="finding?.type == 'category' "
                                        [class.subitsem]="finding?.type == 'weakness' ">
                                        <!-- CWE-{{finding?.id}} {{finding?.title}} {{finding?.type}} -->


                                        CWE-{{finding?.id}} &nbsp;<div
                                            [innerHTML]="finding.title | highlight: searchInput.value"></div>
                                    </nb-list-item>




                                </nb-list>

                            </div>

                        </div>

                    </nb-card-body>

                    <nb-card-footer fxLayoutAlign="end" fxLayoutGap="1rem">



                        <button size="small" nbButton disabled nbStepperNext>prev</button>
                        <button size="small" nbButton nbStepperNext>next</button>
                    </nb-card-footer>

                </nb-card>







            </nb-step>
            <nb-step label="Steps to reproduce">

                <app-engagement-steps-to-reproduce>

                </app-engagement-steps-to-reproduce>



            </nb-step>
            <nb-step label="Impact">

                <app-engagement-impact>

                </app-engagement-impact>



            </nb-step>

        </nb-stepper>
    </nb-card-body>
</nb-card>