<nb-card fxFill nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="Refreshing data">



    <!-- {{iocs | async | json}} -->
    <!-- {{dns_data | async | json}} -->


    <!-- <nb-card-body > -->
    <!-- <div fxFlex fxLayoutAlign="center start" fxLayout="row"> -->


    <nb-card-header>




        <div fxFlex fxLayoutAlign="start center">

            <div fxFlex fxLayoutGap="2rem" fxLayout="row">






                <div fxLayoutGap="0.5rem">


                    <button class="tab-button" (click)="switch_finding_filter( 'all' )" size="tiny" nbButton
                        [appearance]=" ( filter_finding_tab | async ) == 'all' ? 'outline' :  'ghost'  "
                        [status]=" ( filter_finding_tab | async) == 'all' ? 'info' : 'basic' ">All ({{all_count}})



                    </button>

                    <button class="tab-button" (click)="switch_finding_filter( 'open' )" size="tiny" nbButton
                        [appearance]=" ( filter_finding_tab | async ) == 'open' ? 'outline' :  'ghost'  "
                        [status]=" ( filter_finding_tab | async ) == 'open' ? 'danger' : 'basic' ">Open
                        ({{open_count}})</button>
                    <button class="tab-button" (click)="switch_finding_filter( 'under_review' )" size="tiny" nbButton
                        [appearance]=" ( filter_finding_tab | async ) == 'under_review' ? 'outline' :  'ghost'  "
                        [status]=" ( filter_finding_tab | async ) == 'under_review' ? 'warning' : 'basic' ">Under Review
                        ({{under_review_count}})</button>

                </div>


            </div>





            <ng-container>

                <ng-container *ngIf="markMode">
                    <button
                    (click)="markAll( findings$  )"
                    status="success" shape="round" size="tiny" nbButton appearance="outline">
                        <nb-icon icon="plus-outline">

                        </nb-icon>
                        Mark All

                        {{markedFindings.size}}
                    </button>

                    <button
                    (click)="markForRevalidation()"
                    [disabled]="markedFindings.size == 0"
                    nbTooltipPlacement="bottom" nbTooltip="Mark for revalidation"
                    
                    status="success" shape="round" size="tiny" nbButton appearance="outline">
                        <nb-icon icon="plus-outline">

                        </nb-icon>
                        Revalidate
                    </button>

                    <button
                    (click)="unmarkForRevalidation()"

                    [disabled]="markedFindings.size == 0"

                    nbTooltipPlacement="bottom" nbTooltip="Mark as open"
                    status="success" shape="round" size="tiny" nbButton appearance="outline">
                        <nb-icon icon="plus-outline">

                        </nb-icon>
                        Open
                    </button>
                </ng-container>


                <button status="success" shape="round" (click)="create_finding(  )" size="tiny" nbButton
                    appearance="outline">
                    <nb-icon icon="plus-outline">

                    </nb-icon>
                    Add
                </button>




                <!-- <nb-button-group shape="round" ghost size="small" status="success"> -->

                <!-- <button nbButton>
                        <nb-icon icon="swap-outline"></nb-icon>
                    </button> -->
                <!-- <button nbButton>
                        <nb-icon icon="play-circle-outline"></nb-icon>
                    </button> -->

                <div fxLayoutAlign="space-between center " fxLayoutGap="0.2rem">


                    <nb-toggle (checkedChange)="markModeChanged()" labelPosition="left" nbPopoverTrigger="hover"
                        nbPopoverPlacement="bottom" [status]="markMode ? 'success': 'basic' "
                        nbTooltipPlacement="bottom" [nbTooltip]="markMode ? 'Cancel' : 'Mark findings' "
                        [(ngModel)]="markMode">


                        <!-- Manage -->
                    </nb-toggle>


                    <button [status]="markMode ? 'success': 'basic' " ghost size="small" nbButton>

                        <nb-icon icon="more-vertical-outline">

                        </nb-icon>
                    </button>
                    <!-- </nb-button-group> -->

                </div>

                <!-- <nb-icon nbContextMenuTrigger="hover" nbContextMenuPlacement="bottom" [nbContextMenu]="items"                    icon="more-vertical-outline">                </nb-icon> -->

            </ng-container>

            <ng-template #selectMessageTemplate>
                <span *ngIf="!markMode">Mark findings</span>
                <span *ngIf="markMode">Cancel</span>
            </ng-template>




        </div>

    </nb-card-header>


    <nb-card-footer fxLayoutAlign="center center">
        <div fxLayoutGap="1rem" fxLayout="row">
            <button style="margin-left:  1rem;" [disabled]="loadingFindings$
        ||
        ( math.ceil( lastFindingIdOffset / findingsListLimit ) <= 1 ) || 1
        " (click)="previousPage()" size="tiny" status="success" nbButton ghost>

                <nb-icon icon="arrow-left-outline"></nb-icon>

            </button>



            <div *ngIf="true">

                <nb-select size="tiny" [selected]="currentPage" (selectedChange)="goto($event)" placeholder="Go to">

                    <nb-select-label>
                        <div>
                            Page {{currentPage}}
                        </div>


                        <div *ngIf="false">
                            Page

                            <span class="page" [class.page_no]="!loadingFindings$">

                                <!-- {{selectedItem}} -->
                                <!-- {{ math.ceil( lastFindingIdOffset / findingsListLimit ) }} -->

                                {{currentPage}}
                            </span>

                            of
                            <span class="page" [class.page_no]="!loadingFindings$">

                                {{totalPages}}

                            </span>

                        </div>


                    </nb-select-label>

                    <nb-option
                        *ngFor="let item of [].constructor(  math.ceil( totalFindings / findingsListLimit ) ); let i = index"
                        [value]="i + 1">
                        <div>
                            Page
                            {{i + 1}}
                        </div>
                    </nb-option>


                </nb-select>
                <!-- {{lastFindingIdOffset}} -->
                <!-- {{findingsListLimit}} -->

            </div>

            <button style="margin-right:  1rem;"
                [disabled]="loadingFindings$ || ( math.ceil( lastFindingIdOffset / findingsListLimit ) >= math.ceil( totalFindings / findingsListLimit ) ) "
                (click)="nextPage()" size="tiny" status="success" nbButton ghost>


                <nb-icon icon="arrow-right-outline"></nb-icon>

            </button>


        </div>

    </nb-card-footer>

    <!-- </div> -->
    <!-- <ng-template #findingView> -->





    <nb-list fxFlex>


        <!-- style="  border-left: 8px solid {{ data?.severity | severity : 'color' }} ;" -->
        <!-- (click)="view_finding(data?._id?.$oid)" -->
        <nb-list-item fxLayoutAlign="space-between center" fxLayout="row" [class.inactive]="data?.active == false"
            *ngFor="let data of findings$ | async ; index as index ">


            <!-- Index -->
            <div fxLayout="row">


                <div *ngIf="markMode" fxLayoutAlign="center center">
 
                    <nb-checkbox #markFind style="height: 50% ;" 
                    [checked]="markedFindings.has( data._id.$oid  )"
                        (checkedChange)="markFinding(  $event ,  index , data._id.$oid )" status="control">

                    </nb-checkbox>
                </div>


                <div *ngIf="false" style="padding: 0;" fxLayoutAlign="center center" class=" item " fxFlex="0 0 3rem">

                    <div class="text-caption" style="padding: 0;" fxFlex fxLayoutAlign="center center">

                        {{ index + 1}}

                    </div>



                </div>



                <!-- Verified / Not verified -->
                <div style="padding: 0;" fxLayoutAlign="center center" class=" item " fxFlex="0 0 3rem">

                    <button *ngIf="!data?.verifiable" (click)="  $event.stopPropagation();  markForVerification( data )"
                        [disabled]="data?.verifiable" ghost nbButton size="medium" status="success">
                        <!-- Verify -->
                        <nb-icon icon="checkmark-circle-2"></nb-icon>
                    </button>

                    <button *ngIf="data?.verifiable" (click)="$event.stopPropagation();  unmarkForVerification( data )"
                        outline nbButton size="medium" ghost shape="round" status="danger">
                        <!-- Not Fixed -->
                        <nb-icon icon="close-circle"></nb-icon>

                    </button>


                </div>


                <!-- Severity -->
                <div style="padding: 0;" fxLayoutAlign="start center" class=" item " fxFlex="0 0 6rem">

                    <button [style.color]="data?.color"
                        (click)="  $event.stopPropagation();  markForVerification( data )" outline shape="round"
                        nbButton size="small">

                        {{ ( data?.severity )}}

                    </button>





                </div>
            </div>

            <div fxFlex class="truncate-row item" fxLayoutGap="1rem" fxLayoutAlign="start center" fxLayout="row">

                <!--  -->

                <span class="caption-2">
                    {{ index + 1}}.
                </span>
                <span class="truncate-cell">
                    {{data?.title}}

                </span>

                <span fxFlex class="truncate-cell description">
                    {{data?.description}}
                    {{data?.description}}
                    {{data?.description}}
                    {{data?.description}}
                    {{data?.description}}
                    {{data?.description}}
                </span>



                <!-- {{data | json}} -->
                <!-- <div class="ribbon ribbon-top-left"><span>ribbon</span></div> -->



                <div *ngIf="false" fxFlex fxLayout="row">

                    <!-- Title -->
                    <div fxLayoutGap="1rem" fxFlex fxLayout="row" class="truncate-row item">
                        <div class="truncate-cell"> <!-- Adjust fxFlex as needed -->
                            <!-- Your content here -->
                            {{data?.title}}

                        </div>
                        <div class="truncate-cell description"> <!-- Adjust fxFlex as needed -->
                            <!-- Your content here -->
                            {{data?.description}}
                            {{data?.description}}
                            {{data?.description}}
                            {{data?.description}}
                            {{data?.description}}
                            {{data?.description}}

                        </div>
                    </div>



                </div>


                <div *ngIf="false" class="   item " fxFlex="1 0" fxLayout="row" fxLayoutALign="start center">

                    <!-- <span class="caption title"> -->

                    <!-- <span class="chip">
                            {{data?.component_name}}
                        </span> -->





                    <div>

                        {{data?.title}}
                    </div>

                    <nb-tag *ngIf="data?.hawki_attributes?.supress_vuln?.supressed" appearance="outline" status="danger"
                        class="buildcount" size="tiny" text="Supressed">
                    </nb-tag>
                    <nb-tag *ngIf="data?.hawki_attributes?.accept_risk?.accepted" appearance="outline" status="danger"
                        class="buildcount" size="tiny" text="Known Risk">
                    </nb-tag>

                    <!-- {{data?.title}} -->
                    <!-- {{data?.title}} -->

                    <!-- </span> -->


                    <div class="description">

                        <!-- {{data?.found_by}} -->
                        {{data?.description}}
                        {{data?.description}}
                        {{data?.description}}
                        {{data?.description}}
                        {{data?.description}}
                        {{data?.description}}

                    </div>

                </div>
















            </div>

            <div>
                <button [status]="markMode ? 'info': 'basic' " ghost size="small" nbButton>

                    <nb-icon icon="diagonal-arrow-right-up">

                    </nb-icon>
                </button>
            </div>


        </nb-list-item>


    </nb-list>



    <!-- </ng-template> -->


    <nb-card-footer *ngIf="false">

        <div fxFlex fxLayoutAlign="space-between">
            <button style="margin-left:  1rem;" [disabled]="loadingFindings$
            ||
            ( math.ceil( lastFindingIdOffset / findingsListLimit ) <= 1 ) || 1
            " (click)="previousPage()" size="medium" status="success" nbButton ghost>

                <nb-icon icon="arrow-left-outline"></nb-icon>
                Prev

            </button>



            <div *ngIf="true" fxFlex fxLayoutAlign="center center">

                <nb-select [selected]="currentPage" (selectedChange)="goto($event)" placeholder="Go to">

                    <nb-select-label>

                        <div>
                            Page

                            <span class="page" [class.page_no]="!loadingFindings$">

                                <!-- {{selectedItem}} -->
                                <!-- {{ math.ceil( lastFindingIdOffset / findingsListLimit ) }} -->

                                {{currentPage}}
                            </span>

                            of
                            <span class="page" [class.page_no]="!loadingFindings$">

                                {{totalPages}}

                            </span>

                        </div>


                    </nb-select-label>

                    <nb-option
                        *ngFor="let item of [].constructor(  math.ceil( totalFindings / findingsListLimit ) ); let i = index"
                        [value]="i + 1">
                        <div>
                            Page
                            {{i + 1}}
                        </div>
                    </nb-option>


                </nb-select>
                <!-- {{lastFindingIdOffset}} -->
                <!-- {{findingsListLimit}} -->

            </div>

            <button style="margin-right:  1rem;"
                [disabled]="loadingFindings$ || ( math.ceil( lastFindingIdOffset / findingsListLimit ) >= math.ceil( totalFindings / findingsListLimit ) ) "
                (click)="nextPage()" size="medium" status="success" nbButton ghost>

                Next
                <nb-icon icon="arrow-right-outline"></nb-icon>

            </button>
        </div>

    </nb-card-footer>

    <!-- </nb-card-body> -->


</nb-card>


<ng-template let-context="context" #editTmpl>


    <app-finding-detail-view [issues]="true" [finding_id]="context?.finding_id?.$oid">

    </app-finding-detail-view>

</ng-template>


<ng-template let-context="context" #createFindingTmpl>

    <app-engagement-create-finding [id]="( activeEngagement | async )?.id  ">
    </app-engagement-create-finding>

</ng-template>


<ng-template let-data #viewFindingTmpl>


    <app-engagement-create-finding [id]="( activeEngagement | async )?.id  " [finding_id]="data?.finding_id"
        [id]="data.id  ">
    </app-engagement-create-finding>

</ng-template>