@import '../../../themes';

:host {
    // justify-content: center;
}




.row {
    // overflow: auto;
}

.buildListBtn{
    cursor: pointer;
}

nb-list {
    // height       : 0;
    // overflow  : auto;
    background   : nb-theme(background-basic-color-3);


}

nb-list-item {
    border         : none;
    padding        : 0;
    // margin-left : 1rem;


    // margin: 1rem;;
    margin-bottom: 1rem;
    // padding: 1rem;



}

button {
    margin        : 0.1rem;
    text-transform: capitalize !important;
}

.row {


    // padding    : 1rem;
    white-space: pre-wrap;
    white-space: pre-wrap;
    word-break : keep-all
}

.nbCardList {
    // width: nb-theme(sidebar-width);
    margin: 0 !important;

}





nb-card-body {
    padding: 0;
}

span {
    text-overflow: ellipsis;
}


.caption-2 {
    font-size        : 0.8rem;
    font-weight      : 300;
    // padding-bottom: 0.5rem;
}

.label {
    // margin-bottom: 0.5rem;
}

.row {
    // padding-bottom: 1rem;
    // padding-right : 1rem;
    // padding-left  : 1rem;
    // margin        : 1rem;

    // width   : 0 !important;
    // overflow: auto !important;

}


code {
    color: #f8f8f2;

    font-size: .875rem;
}



// 
.container {

    padding-left : 0rem;
    padding-right: 0rem;

    // padding-top   : 0.4rem;
    // padding-bottom: 0.4rem;

    // margin-bottom  : 2px;

    // margin-right: 1rem;
    margin-left: 5px;

    // border-left   : 2px solid nb-theme(color-primary-600);
    // box-shadow : inset 1px 0px 0px 0px nb-theme(color-primary-100),
    //     1px 0px 0px 0px nb-theme(color-primary-600);

    // box-shadow: inset 1px 0px 0px 0px nb-theme(color-primary-300),
    //     1px 0px 0px 0px nb-theme(color-primary-600);


    &:hover {
        // border-left: 4px solid var(--color-success-400);
        // margin-left: 18px;

    }

    &.success {
        // background-color: nb-theme(color-success-200) !important;
        // border-left: 2px solid nb-theme(color-success-600);
        // box-shadow: inset 1px 0px 2px 0px nb-theme(color-success-300),
        //     1px 0px 2px 0px nb-theme(color-success-600);
        // color: nb-theme(navitem-selected-text);
    }

    &.fail {
        // border-left: 2px solid nb-theme(color-danger-600);


        color: nb-theme(navitem-selected-text);


        // box-shadow: inset 1px 0px 2px 0px nb-theme(color-danger-300),
        //     1px 0px 2px 0px nb-theme(color-danger-600);

    }

    &.active {
        // background-color: nb-theme(color-primary-200) !important;
        color: nb-theme(navitem-selected-text);

    }
}

.icon {
    // width : 100%;
    height: 100%;
}

nb-tag {
    text-transform: capitalize;
}







.dot {
    font-size  : 20px;
    font-weight: 300;





    &:hover {
        font-size : 40px;
        transition: 0.2s;
    }
}



.horizontal_line {
    width : 30px;
    height: 2px;

    background-color: nb-theme(color-primary-600) !important;
    box-shadow      : inset 0px 0px 5px 1px nb-theme(color-primary-300),
        0px 0px 5px 1px nb-theme(color-primary-600);




    &.success {
        background-color: nb-theme(color-success-600) !important;
        box-shadow      : inset 0px 0px 5px 1px nb-theme(color-success-300),
            0px 0px 5px 1px nb-theme(color-success-600);
    }

    &.fail {
        background-color: nb-theme(color-danger-600) !important;
        box-shadow      : inset 0px 0px 5px 1px nb-theme(color-danger-300),
            0px 0px 5px 1px nb-theme(color-danger-600);

    }

    &.active {}
}


.spin {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation   : spin 2s linear infinite;
    animation        : spin 2s linear infinite;
}

.circle {


    // 

    justify-content: center;
    align-items    : center;

    text-align: center;
    display   : flex;


    width        : 3rem;
    height       : 3rem;
    line-height  : 3rem;
    border-radius: 50%;
    font-size    : 0.8rem;

    // background-color: nb-theme(color-primary-600) !important;


    text-shadow: 1px 1px 1px nb-theme(color-primary-300),
        -1px 1px 1px nb-theme(color-primary-600),
        1px -1px 1px nb-theme(color-primary-600),
        -1px -1px 1px nb-theme(color-primary-600);

    box-shadow: inset 0px 0px 5px 1px nb-theme(color-primary-300),
        0px 0px 5px 1px nb-theme(color-primary-600);


    &.success {
        background-color: nb-theme(color-success-600) !important;
        box-shadow      : inset 0px 0px 5px 1px nb-theme(color-success-300),
            0px 0px 5px 1px nb-theme(color-success-600);

        // 

        text-shadow: 1px 1px 1px nb-theme(color-primary-300),
            -1px 1px 1px nb-theme(color-success-600),
            1px -1px 1px nb-theme(color-success-600),
            -1px -1px 1px nb-theme(color-success-600);
    }

    &.fail {
        background-color: nb-theme(color-danger-600) !important;
        box-shadow      : inset 0px 0px 5px 1px nb-theme(color-danger-300),
            0px 0px 5px 1px nb-theme(color-danger-600);

        // 

        text-shadow: 1px 1px 1px nb-theme(color-danger-300),
            -1px 1px 1px nb-theme(color-danger-600),
            1px -1px 1px nb-theme(color-danger-600),
            -1px -1px 1px nb-theme(color-danger-600);

    }

    &.active {}

    &:hover {
        font-size : 1rem;
        transition: 0.2s;

        width : 4rem;
        height: 4rem;
    }


}

.vertical_line {

    height     : 80px;
    // position: absolute;
    // top: 0px;
    // bottom: 0px;    

    width           : 2px;
    background-color: nb-theme(color-primary-600) !important;
    box-shadow      : inset 2px 2px 5px 1px nb-theme(color-primary-300),
        2px 0px 5px 1px nb-theme(color-primary-600);



    &.success {
        background-color: nb-theme(color-success-600) !important;
        box-shadow      : inset 0px 0px 5px 1px nb-theme(color-success-300),
            0px 0px 5px 1px nb-theme(color-success-600);
    }

    &.fail {
        background-color: nb-theme(color-danger-600) !important;
        box-shadow      : inset 0px 0px 5px 1px nb-theme(color-danger-300),
            0px 0px 5px 1px nb-theme(color-danger-600);

    }

    &.active {}

}





// 

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform        : rotate(360deg);
    }
}


.xContainer {
    padding: 1rem;
}

.listContainer {

    padding-left : 1rem;
    padding-right: 1rem;
    padding-top  : 10px;
    background   : nb-theme(background-basic-color-4);
    // width: nb-theme(sidebar-width);
    display      : flex;
    flex         : 0 0 nb-theme(sidebar-width);


}

.content {
    display: flex;

    flex: 0 1 900px;

}

.vertical_line {

    height: 80px;


    width           : 2px;
    background-color: nb-theme(color-success-600) !important;
    box-shadow      : inset 0px 0px 5px 1px nb-theme(color-success-300),
        0px 0px 5px 1px nb-theme(color-success-600);

}

.contentContainer {
    min-width: 0;
}

.header {
    height: 4rem;
}

.body{
    max-height: calc(100vh - 4rem);
    min-height:  calc(100vh - 4rem);
}


nb-layout-column {
    padding: 0 !important;
  }
  
  ::ng-deep nb-sidebar {
  
    transition: width 0.1s;
  
    div {
      transition: width 0.1s;
      // top: 0 !important;
    }
  
    &.menuSidebar div {
      top: 0 !important;
      height: 100%;
    }
  
  }
  
  



//   


.timeline-item {
    background-color: #fff;
    border          : 1px solid;
    border-color    : #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius   : 3px;
    padding         : 12px;
  
    margin       : 0 auto;
    // max-width: 472px;
    // min-height: 200px;
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
  
    100% {
      background-position: 468px 0;
    }
  }
  
  .animated-background {
    animation-duration       : 1.5s;
    animation-fill-mode      : forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name           : placeHolderShimmer;
    background               : #f6f7f8;
    background               : linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    // background-size: 800px 104px;
    // height: 96px;
    height                   : 40px;
    position                 : relative;
  }
  
  .background-masker {
    background: #fff;
    position  : absolute;
  }
  
  /* Every thing below this is just positioning */
  
  .background-masker.header-top,
  .background-masker.header-bottom,
  .background-masker.subheader-bottom {
    top   : 0;
    left  : 40px;
    right : 0;
    height: 10px;
  }
  
  .background-masker.header-left,
  .background-masker.subheader-left,
  .background-masker.header-right,
  .background-masker.subheader-right {
    top   : 10px;
    left  : 40px;
    height: 8px;
    width : 10px;
  }
  
  .background-masker.header-bottom {
    top   : 18px;
    height: 6px;
  }
  
  .background-masker.subheader-left,
  .background-masker.subheader-right {
    top   : 24px;
    height: 6px;
  }
  
  
  .background-masker.header-right,
  .background-masker.subheader-right {
    width: auto;
    left : 300px;
    right: 0;
  }
  
  .background-masker.subheader-right {
    // left: 230px;
  }
  
  .background-masker.subheader-bottom {
    top   : 30px;
    height: 10px;
  }
  
  .background-masker.content-top,
  .background-masker.content-second-line,
  .background-masker.content-third-line,
  .background-masker.content-second-end,
  .background-masker.content-third-end,
  .background-masker.content-first-end {
    top   : 40px;
    left  : 0;
    right : 0;
    height: 6px;
  }
  
  .background-masker.content-top {
    height: 20px;
  }
  
  .background-masker.content-first-end,
  .background-masker.content-second-end,
  .background-masker.content-third-end {
    width : auto;
    left  : 380px;
    right : 0;
    top   : 60px;
    height: 8px;
  }
  
  .background-masker.content-second-line {
    top: 68px;
  }
  
  .background-masker.content-second-end {
    left: 420px;
    top : 74px;
  }
  
  .background-masker.content-third-line {
    top: 82px;
  }
  
  .background-masker.content-third-end {
    left: 300px;
    top : 88px;
  }
  
  
  
  // 
  
  