<ng-container *ngIf="finding$  | async as finding$ ; else loadingTemplate">

    <div fxFlex [nbSpinner]="saving$" fxLayoutGap="1rem" fxLayout="column">

        <div fxLayoutAlign="space-between center">

            <div class="label">
                Steps to reproduce
            </div>


            <nb-button-group
            *ngIf="!readonly"
            size="small" outline shape="round">
                <button (click)="addStep(  finding$?._id?.$oid  )" nbButtonToggle>
                    <nb-icon nbPrefix icon="plus-outline" pack="eva"></nb-icon>

                </button>
                <button (click)="addStep(  finding$?._id?.$oid  )" style="text-transform: capitalize  !important ; "
                    nbButtonToggle>

                    Add
                </button>

            </nb-button-group>



        </div>


        <nb-list>


            <nb-list-item *ngFor="let step of finding$?.steps_to_reproduce; let i = index">



                <app-engagement-step-to-reproduce [title]="step?.title" [finding_id]="finding$?._id?.$oid"
                    [step_id]="step?._id?.$oid" [index]="i+1" fxFlex>

                </app-engagement-step-to-reproduce>


            </nb-list-item>
            <nb-list-item
            *ngIf="!readonly"
            
            >

                <div fxFlex fxLayoutAlign="center center">

                    <button outline shape="round" (click)="addStep(  finding$?._id?.$oid  )" style="text-transform: capitalize  !important ; "
                        nbButton status="success">

                        Add
                    </button>
                </div>
            </nb-list-item>


        </nb-list>

    </div>





</ng-container>

<ng-template #loadingTemplate>

    <app-block-loading-animation caption="Steps to reproduce"></app-block-loading-animation>

</ng-template>