<ng-container *ngIf="findingDetails  | async as finding$ ; else loadingTemplate">

    <div fxFlex [nbSpinner]="saving$" fxLayoutGap="1rem" fxLayout="column">

        <div fxLayoutAlign="space-between center">

            <div class="label">
                Steps to reproduce
            </div>


            <nb-button-group *ngIf="!readonly" size="small" outline shape="round">
                <!-- (click)="addStep(  finding$?._id?.$oid  )"  -->

                <button
                (click)="openDrawer(   addStepToFinding )"
                
                nbButtonToggle>
                    <nb-icon nbPrefix icon="plus-outline" pack="eva"></nb-icon>

                </button>
            
                

            </nb-button-group>



        </div>


        <nb-list>


            <nb-list-item *ngFor="let step of finding$?.steps_to_reproduce; let i = index">






                <app-engagement-step-to-reproduce
                [engagement_id]="engagement_id"
                [readonly]="readonly"
                [draft]="draft"
                [title]="step?.title" [finding_id]="finding$?._id?.$oid"
                    [step_id]="step?._id?.$oid" [index]="i+1" fxFlex>

                </app-engagement-step-to-reproduce>


            </nb-list-item>
         
            


        </nb-list>

    </div>



    <ng-template let-data #addStepToFinding>
        <app-engagement-step-to-reproduce
        [draft]="true"
        [engagement_id]="engagement_id"
        [window_id]="data.window_id"
        [finding_id]="finding$?._id?.$oid" fxFlex>
    
        </app-engagement-step-to-reproduce>

    </ng-template>

</ng-container>

<ng-template #loadingTemplate>

    <app-block-loading-animation caption="Steps to reproduce"></app-block-loading-animation>

</ng-template>

