@import './../../../themes.scss';

nb-card {
    // max-height: calc(100vh - 7rem);
    margin       : 0;
    // padding-top  : 60px;
    // border-radius: 0 !important;
  
  
    // max-height: calc(100vh - 14rem);
  }
  
  
  nb-card-header {
    // background: nb-theme(background-basic-color-3) !important;
    // margin: 0px;
    padding: 0px;
    padding-right: 1rem;
    overflow: hidden;
  
  
  }

  // 

  .selected{
    font-weight: 750;
  }
  nb-list-item {


  
    overflow: hidden;

    padding: 5px;
    margin: 2px;

  
    &:hover {
      // background: nb-theme(color-basic-100) !important;
      background: var(--button-ghost-basic-active-background-color);
  
      transition: 0.5s;
      filter    : alpha(opacity=30);
    }
  
  
  
    &.item {
  

  
      font-size  : 1rem;
      line-height: 1.5rem;
  
      padding            : 0.6rem;
      padding-right      : 0 !important;
      // background-color: nb-theme(	color-primary-400) !important;
  
      max-lines: 2;
  
  
      white-space  : pre-wrap;
      overflow     : hidden;
      text-overflow: ellipsis;
  
      &:hover {
        // background: nb-theme(color-basic-100) !important;
        background: var(--button-ghost-basic-active-background-color);
        transition: 1s;
      }
  
  
    }
  
    &.dasd:hover {
      background         : nb-theme(color-basic-100) !important;
      transition         : 1s;
      // background-color: nb-theme(	color-basic-hover) !important;
  
  
      .item {
        padding      : var(--button-ghost-medium-padding);
        padding-right: 0 !important;
        color        : #000;
  
      }
  
  
    
    }
  
  
  
    &.selected {
  
      background: nb-theme(color-primary-400);
  
      .text {
  
        // color: nb-theme(text-color-basic);
        color: #fff !important;
  
      }
  
  
      color: #fff;
  
  
      &.primary {
        background-color: nb-theme(color-primary-500);
  
  
      }
  
  
      &.success {
        background-color: nb-theme(color-success-500);
  
  
      }
  
  
      &.danger {
        background-color: nb-theme(color-danger-500);
  
  
      }
  
  
      &.warning {
        background-color: nb-theme(color-warning-500);
  
  
      }
  
      &.basic {
        background-color: nb-theme(color-basic-500);
  
      }
  
    }
  
  
    &.inactive{
      opacity: 0.4;
    }
  }