<div fxFill fxLayoutAlign="center center">


    <nb-card  accent="danger">



        <nb-card-body>

            <div fxLayoutAlign="space-around center" fxLayout="column">



                <h1 class="text-alternate">No build found!</h1>


                <button (click)="reloadBuiilds()" fxFlex hero status="danger" shape="round" nbButton size="giant">

                    Refresh
                </button>


                <h6 class="text-alternate">Or</h6>

                <button (click)="configure()" fxFlex hero status="primary" shape="round" nbButton size="giant">

                    Configure
                </button>
            </div>



        </nb-card-body>
    </nb-card>

</div>