<nb-layout *ngIf="engagementDetails | async as engagementDetails">
    <nb-layout-header fixed>


        <button
        nbPopoverTrigger="click"
        nbButton [nbPopover]="templateRef">

            dsadsdsa
        </button>
        <ng-template #templateRef>
            <!-- <span>Hello, Popover!</span> -->
            <button nbButton size="small" status="success" (click)="testcm()">Open Context Menu</button>

        </ng-template>

        <div fxLayout="row" fxLayoutAlign="start center">

            <!-- Back Buttons -->


            <button [routerLink]=" [ '/' , 'devsec' , 'home' ] " nbButton appearance="ghost" status="primary">
                <nb-icon icon="corner-left-up-outline">

                </nb-icon>
            </button>






            <!-- <div fxLayoutAlign="center center" fxLayout="row"> -->

            <!-- {{engagementDetails?.engagement}} -->



            <!-- {{engagementDetails?.state}} -->
            <!-- </div> -->


        </div>

        <!--  -->
        <div fxFlex fxLayoutAlign="start center">

            <div>

                <ng-container *ngFor="let tab of tabs ">

                    <button class="tab-button" [appearance]="rla?.isActive ?  'outline' : 'ghost' "
                        [status]="rla?.isActive ?  'info' : 'basic' " size="small" [routerLink]="tab[1]"
                        [routerLinkActiveOptions]="{ exact: false }" routerLinkActive #rla="routerLinkActive" nbButton>
                        {{tab[0]}}
                    </button>
                </ng-container>
            </div>



            <div *ngIf="false" fxFlex fxLayoutAlign="end center">





                <button class="tab-button" [appearance]="rla_sf?.isActive ?  'ghost' : 'ghost' "
                    [status]="rla_sf?.isActive ?  'success' : 'basic' " size="small" shape="round"
                    [routerLink]=" [  'select_finding' , '658c9421086a02a65aef6b6f'] "
                    [routerLinkActiveOptions]="{ exact: false }" routerLinkActive #rla_sf="routerLinkActive" nbButton>
                    Select Finding
                </button>


                <button class="tab-button" [appearance]="rla_d?.isActive ?  'ghost' : 'ghost' "
                    [status]="rla_d?.isActive ?  'success' : 'basic' " size="small" shape="round"
                    [routerLink]=" [  'details'] " [routerLinkActiveOptions]="{ exact: false }" routerLinkActive
                    #rla_d="routerLinkActive" nbButton>
                    Details
                </button>

                <button class="tab-button" [appearance]="rla_c?.isActive ?  'outline' : 'ghost' "
                    [status]="rla_c?.isActive ?  'success' : 'basic' " size="small" shape="round"
                    [routerLink]=" [ './', 'create'] " [routerLinkActiveOptions]="{ exact: false }" routerLinkActive
                    #rla_c="routerLinkActive" nbButton>
                    Report Builder
                </button>


                <button class="tab-button" [appearance]="rla_f?.isActive ?  'outline' : 'ghost' "
                    [status]="rla_f?.isActive ?  'success' : 'basic' " size="small" shape="round"
                    [routerLink]=" [ './', 'draft_review'] " [routerLinkActiveOptions]="{ exact: false }"
                    routerLinkActive #rla_f="routerLinkActive" nbButton>
                    Review Findings(d)
                </button>

                <button class="tab-button" [appearance]="rla_ato?.isActive ?  'outline' : 'ghost' "
                    [status]="rla_ato?.isActive ?  'success' : 'basic' " size="small" shape="round"
                    [routerLink]=" [ './', 'assign_task'] " [routerLinkActiveOptions]="{ exact: false }"
                    routerLinkActive #rla_ato="routerLinkActive" nbButton>
                    Assign(o)
                </button>

                <button class="tab-button" [appearance]="rla_ip?.isActive ?  'outline' : 'ghost' "
                    [status]="rla_ip?.isActive ?  'success' : 'basic' " size="small" shape="round"
                    [routerLink]=" [ './', 'in_progress'] " [routerLinkActiveOptions]="{ exact: false }"
                    routerLinkActive #rla_ip="routerLinkActive" nbButton>
                    In Progress(o)
                </button>








                <button class="tab-button" [appearance]="rla_m?.isActive ?  'outline' : 'ghost' "
                    [status]="rla_m?.isActive ?  'success' : 'basic' " size="small" shape="round"
                    [routerLink]=" [  'manage'] " [routerLinkActiveOptions]="{ exact: false }" routerLinkActive
                    #rla_m="routerLinkActive" nbButton>
                    Manage
                </button>






            </div>




        </div>



        <div fxLayout="column">
            <div>

                {{engagementDetails?.business?.name}}
                <nb-icon status="info" icon="chevron-right-outline"></nb-icon>

                {{engagementDetails?.project?.name}}



            </div>

            <div *ngIf="false" class="text-caption">
                {{engagementDetails?.application?.title}}
                (
                {{engagementDetails?.application?.platform}}

                )


            </div>


        </div>

        <button class="publish-button" outline size="small" shape="round" nbButton>
            Publish
        </button>

        <!--  -->


    </nb-layout-header>




    <nb-sidebar *ngIf="false">

        <nb-sidebar-header style="margin: 0px">
            <div fxFlex fxLayoutAlign="start center">

                <nb-select selected="all" size="small">
                    <nb-option value="all">
                        All
                    </nb-option>
                    <nb-option value="new">
                        New
                    </nb-option>
                    <nb-option value="verify">
                        Verify
                    </nb-option>
                </nb-select>
            </div>
        </nb-sidebar-header>

        <nb-list>
            <nb-list-item *ngFor="let finding of findings$ | async" class="subitem-header">
                {{finding?.title}}
            </nb-list-item>



        </nb-list>

    </nb-sidebar>


    <nb-layout-column style="padding: 5px;">


  

        <!-- <button class="menu-target" nbButton [nbContextMenu]="items" nbContextMenuTrigger="noop">Menu Target</button>

        <div>
            <button nbButton size="small" status="success" (click)="testcm()">Open Context Menu</button>
            <button nbButton size="small" status="danger">Close Context Menu</button>
        </div> -->

        <router-outlet>

        </router-outlet>


    </nb-layout-column>

</nb-layout>