

<nb-layout *ngIf="application | async as  application">

    <nb-layout-header>
        <div>
            <button (click)="toggleSort( 'numerical_severity' )" fullWidth size="small" class="left" status="basic"
                nbButton ghost>

                <nb-icon icon="arrow<-back-outline"></nb-icon>
                DAST Request
            </button>
        </div>
    </nb-layout-header>

    <nb-layout-footer style="background-color: transparent !important; padding: 0rem !important ;  ">
        <div fxLayoutAlign="start" fxFlex>
            <div fxFlex fxLayoutAlign="end end">


                <ng-container>

                    <button (click)="createEngagement()" outline status="basic" nbButton>
                        Next
                    </button>


                </ng-container>



            </div>

        </div>

    </nb-layout-footer>




    <!--  -->
    <nb-layout-column *ngIf="application?.platform != 'webapp' ">


        <div style="padding: 1rem;" fxLayout="column" fxLayoutGap="1rem">


            <div fxFlex fxLayoutGap="20px" fxLayout="column">

                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Environment
                    </div>

                    <div fxFlex>
                        <nb-select disabled FxFlex placeholder="Environment" [(selected)]="environment">

                            <nb-option value="development">Development</nb-option>
                            <nb-option value="staging">Staging</nb-option>
                            <nb-option value="production">Production</nb-option>

                        </nb-select>
                    </div>





                </div>

 

                <input [accept]="  allowed_extensions_for_file_upload[application?.platform] " style="display: none"
                    type="file" #file multiple nbInput fieldSize="medium"
                    (change)="onFilesAdded( application?._id?.$oid , application?.platform  )" />

                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint " fxFlex>
                        Upload File ({{application?.platform}})



                    </div>

                    <div fxFlex fxLayoutAlign="center center">

                        <nb-form-field (click)="uploadFile(    )" fxFlex nbSpinnerStatus="danger">

                            <span class="text-hint" nbPrefix>
                                File
                            </span>

                            <!-- <nb-icon nbPrefix status="basic" icon="refresh-outline">
                            </nb-icon> -->


                            <input [readonly]="true"
                                [status]=" ( fileArtifact?.id?.length > 0 )   ?  'success' : 'basic' "
                                [value]="fileArtifact?.filename" fullWidth type="text" nbInput 
                                placeholder="Upload file">




                        </nb-form-field>

                    </div>

                    <div *ngIf="fileArtifact?.filename?.length > 0" fxLayoutAlign="end">
                        <button nbButton size="small" nbSuffix (click)="download(  application?._id?.$oid   )">
                            Download
                        </button>
                    </div>




                </div>

                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Tags
                    </div>

                    <div fxFlex>



                        <nb-form-field>
                            <nb-tag-list (tagRemove)="onTagRemove($event)">
                                <nb-tag status="basic" appearance="outline" info *ngFor="let tag of tags" [text]="tag"
                                    removable></nb-tag>
                                <input status="basic" type="text" nbTagInput (tagAdd)="onTagAdd($event.value)"
                                    [nbAutocomplete]="autocomplete" fullWidth>
                            </nb-tag-list>

                            <nb-icon nbSuffix icon="search" pack="eva"></nb-icon>
                        </nb-form-field>

                        <nb-autocomplete #autocomplete (selectedChange)="onTagAdd($event)">
                            <nb-option *ngFor="let option of options" [value]="option">{{ option }}</nb-option>
                        </nb-autocomplete>
                    </div>




                </div>



                <!-- Changelogs -->
                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Comments

                    </div>

                    <div fxFlex>



                        <nb-form-field>

                            <input placeholder="Details (Optional)" nbInput [formControl]="changelogs" status="basic"
                                type="text" fullWidth>

                        </nb-form-field>


                    </div>




                </div>


                <ng-container *ngIf="reconfirm | async as reconfirm  ">

                    <ng-container *ngIf=" reconfirm?.action ==  'check_connectivity' ">
                        <div fxLayoutAlign="end">
                            {{reconfirm?.message}}
                        </div>

                    </ng-container>

                    <ng-container *ngIf=" reconfirm?.action ==  'saving' ">
                        <div fxLayoutAlign="end">
                            {{reconfirm?.message}}
                        </div>

                    </ng-container>

                    <ng-container *ngIf=" reconfirm?.action ==  'reconfirm' ">
                        <div fxLayoutAlign="end">
                            {{reconfirm?.message}}
                        </div>


                        <div fxLayoutGap="1rem" fxLayoutAlign="end">

                            <button (focusout)="cancel()" nbButton size="tiny" status="basic" nbSuffix>
                                Cancel
                            </button>
                            <button nbButton size="tiny" status="success" outline nbSuffix
                                (click)="saveUrl( reconfirm?.id ,  reconfirm?.url   )">
                                Save
                            </button>
                        </div>

                    </ng-container>





                </ng-container>




            </div>

        </div>







    </nb-layout-column>

    <!--  -->
    <nb-layout-column *ngIf="application?.platform == 'webapp'">


        <div style="padding: 1rem;" fxLayout="column" fxLayoutGap="1rem">


            <div fxFlex fxLayoutGap="20px" fxLayout="column">

                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Environment
                    </div>

                    <div fxFlex>
                        <nb-select disabled FxFlex placeholder="Environment" [(selected)]="environment">

                            <nb-option value="development">Development</nb-option>
                            <nb-option value="staging">Staging</nb-option>
                            <nb-option value="production">Production</nb-option>

                        </nb-select>
                    </div>





                </div>


                <div style="font-size: 1rem; ;" class="text-hint ">

                    Endpoint
                </div>

                <div fxFlex>

                    <nb-form-field [nbSpinner]=" reconfirm  | async " (click)="urlToggleEditMode()"
                        nbSpinnerStatus="danger">

                        <span class="text-hint" nbPrefix>
                            Url

                        </span>


                        <input [class.disabled]=" !repositoryEditEnabled  " [formControl]="url"
                            (focusout)="urlFocusout()"
                            (keyup.enter)="testConnectivity( application?._id?.$oid ,  url.value  )"
                            [readonly]="!urlEditEnabled" [status]=" ( url?.valid )   ?  'basic' : 'danger' " fullWidth
                            type="text" nbInput fieldSize="medium" placeholder="https://example.your-website.com/">


                    </nb-form-field>

                </div>

                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Tags
                    </div>

                    <div fxFlex>



                        <nb-form-field>
                            <nb-tag-list (tagRemove)="onTagRemove($event)">
                                <nb-tag status="basic" appearance="outline" info *ngFor="let tag of tags" [text]="tag"
                                    removable></nb-tag>
                                <input status="basic" type="text" nbTagInput (tagAdd)="onTagAdd($event.value)"
                                    [nbAutocomplete]="autocomplete" fullWidth>
                            </nb-tag-list>

                            <nb-icon nbSuffix icon="search" pack="eva"></nb-icon>
                        </nb-form-field>

                        <nb-autocomplete #autocomplete (selectedChange)="onTagAdd($event)">
                            <nb-option *ngFor="let option of options" [value]="option">{{ option }}</nb-option>
                        </nb-autocomplete>
                    </div>




                </div>



                <!-- Changelogs -->
                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Comments

                    </div>

                    <div fxFlex>



                        <nb-form-field>

                            <input placeholder="Details (Optional)" nbInput [formControl]="changelogs" status="basic"
                                type="text" fullWidth>

                        </nb-form-field>


                    </div>




                </div>


                <ng-container *ngIf="reconfirm | async as reconfirm  ">

                    <ng-container *ngIf=" reconfirm?.action ==  'check_connectivity' ">
                        <div fxLayoutAlign="end">
                            {{reconfirm?.message}}
                        </div>

                    </ng-container>

                    <ng-container *ngIf=" reconfirm?.action ==  'saving' ">
                        <div fxLayoutAlign="end">
                            {{reconfirm?.message}}
                        </div>

                    </ng-container>

                    <ng-container *ngIf=" reconfirm?.action ==  'reconfirm' ">
                        <div fxLayoutAlign="end">
                            {{reconfirm?.message}}
                        </div>


                        <div fxLayoutGap="1rem" fxLayoutAlign="end">

                            <button (focusout)="cancel()" nbButton size="tiny" status="basic" nbSuffix>
                                Cancel
                            </button>
                            <button nbButton size="tiny" status="success" outline nbSuffix
                                (click)="saveUrl( reconfirm?.id ,  reconfirm?.url   )">
                                Save
                            </button>
                        </div>

                    </ng-container>





                </ng-container>




            </div>

        </div>



    </nb-layout-column>




</nb-layout>