<nb-card
style="height: 100%;"
>

    <nb-card-header>

        <div fxLayoutGap="20px" fxLayout="row">


            <nb-icon class="filter-icon" icon="funnel-outline"></nb-icon>
            <div class="text-heading">
                Filters
            </div>

        </div>

    </nb-card-header>
    <nb-card-body>

        <div fxLayoutGap="20px" fxLayout="column">






            <app-frezzed-input-field label="Business" text="Gaana"></app-frezzed-input-field>

            <app-frezzed-input-field label="Project" text="Gaana API"></app-frezzed-input-field>

            <app-frezzed-input-field label="Platform" text="Web Application"></app-frezzed-input-field>

      

        </div>


    </nb-card-body>

</nb-card>