<nb-card  *ngIf="engagementDetails | async as engagementDetails">
    <nb-card-body>

        <div style="padding: 1rem;" fxLayout="column" fxLayoutGap="1rem">

            <!-- Severity -->



            <div fxFlex fxLayoutGap="20px" fxLayoutAlign="end end" fxLayout="column">


                <div fxLayoutGap="20px" fxLayout="column">


                    <button outline nbButton size="small" status="primary">
                        {{engagementDetails?.state}}
                    </button>




                </div>

            </div>


            <div fxFlex fxLayoutGap="20px" fxLayout="column">









                <!-- Business -->
                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Business

                    </div>

                    <div fxFlex>



                        <nb-form-field [readonly]="true">

                            <input [readonly]="true" [value]="engagementDetails?.business?.name" nbInput status="basic"
                                type="text" fullWidth>

                        </nb-form-field>


                    </div>




                </div>


                <!-- Project -->
                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Project

                    </div>

                    <div fxFlex>



                        <nb-form-field>

                            <input [value]="engagementDetails?.project?.name" nbInput status="basic" type="text"
                                fullWidth>

                        </nb-form-field>


                    </div>




                </div>




                <!-- platform -->
                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Platform

                    </div>

                    <div fxFlex>



                        <nb-form-field>

                            <input [value]="engagementDetails?.application?.platform" nbInput status="basic" type="text"
                                fullWidth>

                        </nb-form-field>


                    </div>




                </div>


                <!-- Application Name -->
                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Application

                    </div>

                    <div fxFlex>



                        <nb-form-field>

                            <input [value]="engagementDetails?.application?.title" nbInput status="basic" type="text"
                                fullWidth>

                        </nb-form-field>


                    </div>




                </div>


                <!-- Engagement -->
                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Engagement

                    </div>

                    <div fxFlex>



                        <nb-form-field>

                            <input [value]="engagementDetails?.engagement" nbInput status="basic" type="text" fullWidth>

                        </nb-form-field>


                    </div>




                </div>


                <!-- Engagement Scope -->
                <div fxFlex fxLayoutGap="20px" fxLayout="column">

                    <div style="font-size: 1rem; ;" class="text-hint ">

                        Scope

                    </div>

                    <div fxFlex>

                        <nb-checkbox  [checked]="engagementDetails?.engagement_type?.new" status="info">New Features</nb-checkbox>

                    </div>
                    <div fxFlex>

                        <nb-checkbox  [checked]="engagementDetails?.engagement_type?.revalidate" status="danger">Revalidation</nb-checkbox>



                    </div>



                </div>





            </div>

        </div>


    </nb-card-body>

    <nb-card-body>
        <app-findings-summary-bar-chart>

        </app-findings-summary-bar-chart>
    </nb-card-body>
</nb-card>